__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.venv/
venv/
.eggs/
AppDir/
.flatpak-builder/
debian/.debhelper/
debian/files
debian/godsapp/
debian/*.substvars
debian/debhelper-build-stamp
*.deb
*.AppImage
*.AppImage.zsync
.pytest_cache/
.ruff_cache/
